PORT=3000
GROQ_API_KEY=your_groq_api_key
DEFAULT_MODEL=openai/gpt-oss-20b
JWT_SECRET=777f23cf97fdfa78f16a528dcdb1a5519ad6a9b16cbf4172630e773cf3925b7f
SUPABASE_URL=https://your-project-id.supabase.co
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_secret_key
RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret
